* {box-sizing:border-box}











@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#navbar{
    text-decoration: none;
    padding: 20px;

    background-color: rgb(59, 47, 3);
}
body {
    background-color: rgb(249, 247, 209);
    color:black;
   
}
#navbar a{
    text-decoration: none;
    padding:16px;
    font-size:20px;
    margin-left: 5%; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    font-weight: 20;
    color: #bbb;
 
}




.column1{
  
  text-align: center; 
  
 }
.do{
  text-align: center;
  padding-top: 20px;
}
.welcome{
  padding: 50PX;

}
.welcome h1{
  font-size: 50PX;
}

footer{
  padding: 100px;
  background-color: rgb(28, 24, 24);
  margin-top: 100px;
}

#top{
  margin-left: 15px;
  padding-top: 30px;
}





.myimg {
text-align: center; 

} 
.myimage{
  width: 900px;
  height: 500px;
  text-align: center;
}
